<div class="product-page-width">
  <div class="page-width text-center top-title">
    {% if section.settings.title != blank %}
      <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
    {% endif %} 
  </div>   
  <div class="hero__inner left-title-div">
    <div class="page-width text-center">
      {% if section.settings.image_1 != blank %}
        {% capture img_id %}ID-{{ section.id }}{% endcapture %}
        {%- assign img_url = section.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with image: section.settings.image_1, width: 139, height: 239, small_style: true, img_id: img_id %}
        <div id="smallimage_1" class="image-wrapper js">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.image_1 | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.image_1.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.image_1.alt | escape }}">
        </div>
      {% endif %}
      {% if section.settings.text_1 != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text_1 }}</div>
      {% endif %}
    </div>
  </div>   
  <div class="hero hero-product hero--{{ section.settings.hero_size }}
     {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     {% if section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
     {% endif %}>
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  </div>
  <div class="hero__inner description-div">
    <div class="page-width text-center">
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>
  </div>  
</div>  

<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
</noscript>

{% schema %}
  {
    "name": "Product And Image Display",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Small Image"
      },
      {
        "type": "select",
        "id": "alignment_1",
        "label": "Small Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Product And Image Display"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "TopText",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Product And Image Display",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.product-page-width{background:#f5f5f5; padding: 50px;}
.product-page-width .top-title{ color:#000000; }
.hero-product{ width:50% !important; height:650px !important; margin:0 auto; background-size: initial;}
.description-div{ vertical-align: bottom; padding-top:10px; padding-bottom:0px; display:block; color:#000000; }
.left-title-div{ float:left; padding:10px 20px; width:100%; }
.left-title-div .text-center{ width:20%; margin:0; color:#000000; font-size:11px; }
.left-title-div .text-center #smallimage_1{ float:left; width:50%; }
.left-title-div .text-center .mega-subtitle{ float:right; width:50%; }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
